<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionTest">
<listeners>
	<listener class-name="extendReport.ExtentTestNGIReporterListener"/>
</listeners>
   <test thread-count="5" name="Test">
   <parameter name="browser" value="chrome" />
    <classes>
      <class name="testClass.ActiTimeAppNg">
      	<methods>
      		<include name ="CloseUserBtnValidation" />
      		<include name ="AddUser" />
      	</methods>
    </class>
    </classes>
   </test>
    <test thread-count="5" name="Test1">
   <parameter name="browser" value="firefox" />
    <classes>
      <class name="testClass.ActiTimeAppNg">
      	<methods>
      		<include name ="CloseUserBtnValidation" />
      	</methods>
    </class>
    </classes>
   </test>
<!-- Test -->
</suite> <!-- RegressionTest -->
